.button {
  background-color: #e8406c;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 17px 25px;
  border-radius: 27px;
  border: 2px solid #e8406c;
  width: 150px;
}